*{
    padding: 0;
    margin: 0;
}
header, main, footer{
    max-width: 80%;
    margin: 1rem auto;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
img{
    width: 100%;
    background-color: #000;
    animation: fade 15s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}