:root{
    --font-family-info:"Montserrat", Arial;
    --font-family-title: "Roboto", Arial;
    --background-color-b:  rgb(245, 219, 182);
    --title-color: #F2F1EF;
    --info-color: #170300;
    --links-color:#6B331E;
    --head-back-color: #170300;
    --borders-and-random:#20282E;
    --background-color: #331107;
    --dark-faint: rgba(0,0,0,0.2);
    --white-faint: rgba(255,255,255,0.2);
    --days:#ff9f89;
    --days-color: #272726;
}
body{
    background-color: var(--background-color-b);
}
header, main, footer{
    width: 90%;
    margin: 0 auto;
}



.title{
    padding: 1rem;
    width: fit-content;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.subtitle{
    display: block;
    font-size: small;
    margin: 0;
    padding: 0;
}

main picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
  }

header{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    position: relative;
    background-color: var(--links-color);
    color: var(--title-color);
}


.mainNav{
    background-color: var(--nav-back-color);
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: 0;
    grid-column: 1/3;
}

.mainNav a{
    display: none;
    font-size:large;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--title-color);
}

.show a{
    display: block;
}

#menuButton {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .2rem .75rem;
	background-color: var(--txt-color-title);
	color: var(--nav-back-color);
    justify-self: center;
    border: 1px solid var(--txt-color-title);
    border-radius: 100%;
    position: absolute;
    top: 1px;
    right: 1px;
}

#menuButton::before {
	content: "≡";
}

#menuButton.show::before {
	content: "x";
} 

.active {
    background-color: rgba(0,0,0,0.3);
}

.mainNav a:hover{
    background-color: var(--white-faint);
}

.logo{
    border-radius: 100%;
    padding: 1rem;
}


/* ------sidebar----- */
#sidebar{
    justify-self: center;
    justify-content: center;
    justify-items: center;
}
.side{
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--borders-and-random);
    color: #F2F1EF;
}
.demographics h2{
    text-align: center;
}
.demographics ul{
    list-style-type: none;
}
.demographics ul li p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.demographics ul li p span{
    justify-self: end;
    font-weight: 400;
}
.events{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.events img{
    width: 90%;
    height: auto;
}

/* ------calendar------ */
.calendar-container {
    width: 350px;
    text-align: center;
    margin: 1rem;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--borders-and-random);
    color: var(--title-color);
    font-weight: 700;
    font-size: large;
}
.calendar-header button {
    padding: 10px;
    background-color: var(--borders-and-random);
    color: var(--title-color);
    font-weight: 700;
    font-size: large;
    border: 0;
    cursor: pointer;
}
.calendar {
    background-color: var(--title-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}
.day, .date {
    
    padding: 10px;
    text-align: center;
}
.day {
    color: var(--borders-and-random);
    background-color: var(--days);
    font-weight: bold;
}
.date{
    padding: 15px;
    border-radius: 100%;
}
.current-day {
  background-color: rgba(0, 0, 0, 0.2);
}
#February282025{
    position: relative;
}
#February282025::after {
    content: ".";
    position: absolute;
    color: #FE623E;
    top: -55%;
    right: 20%;
    font-size: 3rem;
}

/* pictures */
.provoPic img{
    margin-top: 1rem;
    
}

/* ----main---- */
main{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.banner{
    position: relative;
}

.callToAction{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: rgba(156, 156, 156, 0.566);
    margin: 1rem;
    padding: 1rem;
   
}
.card h2{

    border-bottom: 1px solid gray;
}

footer{
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    background-color: var(--links-color);
    color:var(--title-color)
}
footer nav a{
    text-decoration: none;
    cursor: pointer;
}
.wf1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.wf1 label{
    display: block;
    margin-top: 1.5rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"]{
    display: block;
    padding: 0.85rem;
    border-style: solid;
    border-radius: 1rem;
}

.wf1 div{
    color: #6B331E;
    font-size: x-large;
    font-weight: 700;
    margin-top: 1.5rem;
}

.wf1 .membership{
    margin-top: 10px;
    padding: 0;
}
.menbinfo{
    display: inline-block;
    grid-column: 1/2;
    }
.menbinfo section{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.meninfo1 {
    background-color: white;
}

.meninfo2 {
   background-color:  #c8884d;
}

.meninfo3 {
   background-color:  #cccccc;
}

.meninfo4 {
   background-color:  #f8de8a;
}

.wf1 input[type="submit"]{
    padding: 1rem;
    font-size: larger;
    background-color: var(--links-color);
    color: var(--title-color);
    border-style: none;
    border-radius: 1rem;
    margin-top: 1rem;
}

.wf1 input:required{
    border-left: 10px solid red;
}

.wf1 input:required:valid{
    border-left: 10px solid green;
}