@media screen and (min-width: 500px){
    .mainNav{
        display: flex; 
        justify-content: space-evenly;
    }
    .mainNav a{
        flex: auto;
        padding: 0.5rem 1rem;
        display: block;
    }

    #menuButton {
		display: none;
	}

    main{
        grid-template-columns: repeat(3, 1fr);
    }

    .provoPic img:hover {
        box-shadow: 0 0 50px #333;
    }
    .visitDate{
        font-size: x-large;
        font-weight: 700;
    }
    .banner{
        grid-column: 1/4;
    }
    #events{
        grid-column: 1/3;
    }
    #spotlight{
        grid-column:  1/4;
    }
   .provoPics{
        grid-column: 2/4;
   }
   
   .menbinfo{
    display: inline-block;
    grid-column: 3/4;
    }

    .companiesList .companieCard{
        display: flex;
        gap: 5%;
        text-align: center;
        padding: 1rem;
    }
}