:root{
    --font-family: "Roboto", "arial";
    --font-for-hero: "Playwrite IN", arial;
    --background-color-title: rgb(29, 77, 114);
    --background-color: rgb(255, 255, 255);
    --nav-back-color: #8F431C;
    --boder-card: #8F431C;
    --dark-faint: rgba(0,0,0,0.2);
    --white-faint: rgba(255,255,255,0.2);
    --txt-color-title: rgb(255, 255, 255);
    --txt-color-info: rgb(0, 0, 0);
    --links-color:rgba(0,0,0,0.2);
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--font-family);
}

header, nav, main, footer{
    width: 80%;
    margin: 1rem auto;
}

body{
    background-color: var(--background-color);
}


header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--background-color-title);
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
    position: relative;
}
#profilePic{
    padding: 1rem;
}


span{
    color: var(--txt-color-title);
    font-size:x-large;
    font-weight: 700;
}

nav{
    background-color: var(--nav-back-color);
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: 0;
}

nav a{
    display: none;
    font-size:large;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--txt-color-title);
}

.show a{
    display: block;
}

#menuButton {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .2rem .75rem;
	background-color: var(--txt-color-title);
	color: var(--nav-back-color);
    justify-self: center;
    border: 1px solid var(--txt-color-title);
    border-radius: 100%;
}

#menuButton::before {
	content: "≡";
}

#menuButton.show::before {
	content: "x";
} 

.active{
    background-color: rgba(0,0,0,0.3);
}

nav a:hover{
    background-color: var(--white-faint);
}



ul{
    list-style-type:none;
    padding: 1rem;
}


main{
    display: grid;
    grid-template-columns: 1fr;
}

h1{
    text-align: center;
    border-bottom: 0.2rem solid var(--txt-color-info);
    width: fit-content;
    justify-self: center;
    color: var(--txt-color-info);
}

.card{
    margin-top: 1rem;
    border: 0.2rem solid var(--boder-card);
    border-radius: 0.5rem;
    color: var(--txt-color-info);
    background-color: var(--background-color);
}

.card ul li a{
    text-decoration: none;
    color: var(--txt-color-info);
}
.card ul li a:hover{
    background-color: var(--links-color);
    transition: 1s;
}

h2{
    text-align: center;
    padding: 0.5rem;
    background-color: var(--background-color-title);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: var(--txt-color-title);
}

footer{
    text-align: center;
    background-color: var(--background-color-title);
    padding: 1rem 0;
    border-radius: 1rem;
    color: var(--txt-color-title);
}

#currentyear{
    font-size: medium;
    font-weight: 400;
}
.hero{
    position:relative ;
}

.herolabel{
    position:absolute;
    top: 1rem;
    left: 1rem;
}
.herolabel p{
    font-size: medium;
    font-weight: 700;
    font-family: "Playwrite IN";
}

.hero picture img{
    width: 100%;
    height: auto;
}

iframe{
    width: 100%;
}
#lable{
    text-align: center;
}
.label, .visits{
    color: var(--txt-color-info);
    font-size: medium;
    font-weight: 500;
}