@media screen and (min-width: 500px){
    nav{
        display: flex; 
        justify-content: space-evenly;
    }
    nav a{
        flex: auto;
        padding: 0.5rem 1rem;
        display: block;
    }

    main{
        grid-template-columns: 2fr 1fr;
    }
    main h1{
        grid-column: 1/3;
    }

    #menuButton {
		display: none;
	}

}